.image img{
    position: absolute;
    top: 30%;
    right: 41%;
}
.bar input{
    height: 40px;
    width: 36%; 
    border-radius: 0;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 4px 1px gainsboro;
    position: absolute;
    top: 45%;
    right: 30%;
    padding: 0 20px;
    font-size: 16px;
    font-family: Arial;
    padding-right: 50px;
}
.buttons input{
    height: 35px;
    width: 9.5%; 
    border: 0;
    background-color: rgba(231, 231, 231, 0.671);
    color: rgb(112, 112, 112);
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    cursor:pointer;
}
.left input{
    position: absolute;
    top: 55%;
    left: 40%;
}
.right input{
    position: absolute;
    top: 55%;
    right: 40%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
    float: right;
    padding: 1px;
}
li p{
    font-size: 13px;
    padding: 9px 5px 0px 5px;
    font-family: Arial;
}

ul a{
    color: black;
}
ul p:hover {
    text-decoration: underline;
}
.bar img{
    position: absolute;
    top: 46%;
    left: 67.5%;
    height: 4%;
}